
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand() Simplon Alumnis
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/')
          | Accueil 
          span.sr-only (current)
      li.nav-item
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        .dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='/social') Social
          a.dropdown-item(href='#') Emploi
          a.dropdown-item(href='#') Compétences
          a.dropdown-item(href='#') Contactes
    a(href="profile")
      img(src='https://placekitten.com/50/50')

      